{% load widget_tweaks %}

<form method="post" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Delete Medication Order</h3>
    <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Are you sure you want to delete Medication Order of
      <strong>{{ medication }}{% if medication.frequency %} {{ medication.frequency }}{% endif %}</strong>?</p>
  </div>

  <div class="modal-footer">
  {% if perms.medication.delete_medication %}
    <button type="submit" class="btn btn-danger">Delete</button>
  {% else %}
    <a class="btn btn-danger disabled">Delete</a>
  {% endif %}
  </div>

</form>